<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .btn1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input {
        margin: 10px;
        width: 100%;
        height: 30px;
        border: 2px solid black;
        border-radius: 5px;
      }
      button {
        width: 80px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: aliceblue;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>
        <!-- LOGIN FORM -->
        <form action="/user" method="POST">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div class="btn1">
            <button type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
